body{
  margin:0;
  font-family: Arial, sans-serif;
  background:#111;
  color:white;
}

.top-bar{
  background:#008000;
  text-align:center;
  padding:15px;
  font-size:26px;
  font-weight:bold;
}

nav{
  background:#222;
  padding:10px;
  text-align:center;
}

nav a{
  color:white;
  text-decoration:none;
  margin:0 8px;
  font-size:14px;
  font-weight:bold;
}

nav a:hover{
  color:#00ff00;
}

.section-title{
  background:#008000;
  padding:10px;
  text-align:center;
  margin-top:20px;
  font-weight:bold;
}

.music-card, .freebeat-card, .mixtape-card{
  background:#222;
  margin:20px auto;
  padding:15px;
  max-width:500px;
  border-radius:8px;
}

.music-card h3, .freebeat-card h3, .mixtape-card h3{
  color:#ffc300;
}

.music-card button, .freebeat-card button, .mixtape-card button{
  margin-top:10px;
  padding:8px 15px;
  background:#008000;
  border:none;
  color:white;
  border-radius:5px;
  cursor:pointer;
}

.music-card button:hover, .freebeat-card button:hover, .mixtape-card button:hover{
  background:#00b300;
}

.recharge-banner{
  background:#ff6b00;
  text-align:center;
  padding:20px;
  margin:20px;
  border-radius:10px;
  font-weight:bold;
  cursor:pointer;
}

footer{
  text-align:center;
  padding:20px;
  color:gray;
    }
