body{
  margin:0;
  font-family: Arial, sans-serif;
  background:#111;
  color:white;
}

.top-bar{
  background:#008000;
  color:white;
  text-align:center;
  padding:15px;
  font-size:28px;
  font-weight:bold;
}

nav{
  background:#222;
  padding:10px;
  text-align:center;
  box-shadow:0 2px 5px rgba(0,0,0,0.3);
}

nav a{
  text-decoration:none;
  color:white;
  margin:0 10px;
  font-weight:bold;
  font-size:14px;
}

.section-title{
  background:#008000;
  color:white;
  padding:10px;
  text-align:center;
  font-weight:bold;
  margin-top:20px;
  font-size:20px;
}

.recharge-banner{
  background:#FF6B00;
  color:white;
  text-align:center;
  padding:20px;
  margin:20px auto;
  max-width:500px;
  border-radius:10px;
  box-shadow:0 2px 10px rgba(255,255,255,0.2);
  font-size:18px;
  font-weight:bold;
  cursor:pointer;
  transition:0.3s;
}

.recharge-banner:hover{
  background:#e65a00;
}

.music-card{
  background:#222;
  margin:15px auto;
  padding:15px;
  max-width:500px;
  border-radius:10px;
  box-shadow:0 2px 10px rgba(255,255,255,0.2);
  transition:0.3s;
}

.music-card:hover{
  transform: scale(1.02);
  box-shadow:0 5px 20px rgba(255,255,255,0.3);
}

.music-card h3{
  margin:5px 0;
  color:#FFC300;
}

.music-card audio{
  width:100%;
  margin-top:10px;
  border-radius:10px;
}

.music-card button{
  margin-top:10px;
  padding:8px 15px;
  border:none;
  background:#008000;
  color:white;
  border-radius:5px;
  cursor:pointer;
  margin-right:10px;
  transition:0.2s;
}

.music-card button:hover{
  background:#00b300;
}

footer{
  background:#111;
  color:gray;
  text-align:center;
  padding:20px;
  margin-top:30px;
}